Tercero/Segundo Semestre/Cloud Computing y Cloud Robotics/Prácticas/Segundo Informe/ledSide.json
[
    {
        "id": "fcc1f78a28808d1c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f02e496db629aede",
        "type": "mqtt in",
        "z": "fcc1f78a28808d1c",
        "name": "IN",
        "topic": "A17 Interruptor",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f4a9363a67de9c7e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "c08b6a1cf3a75fc3",
                "0930028c10f7b1ca",
                "82af5ef71282b2e8"
            ]
        ]
    },
    {
        "id": "c08b6a1cf3a75fc3",
        "type": "ui_gauge",
        "z": "fcc1f78a28808d1c",
        "name": "",
        "group": "165990445152d38c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "LED",
        "label": "PULSO",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "87003c126b412223",
        "type": "ui_text",
        "z": "fcc1f78a28808d1c",
        "group": "30cd2e22d89af003",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ESTADO LED",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "29e02086d94f985a",
        "type": "ui_text",
        "z": "fcc1f78a28808d1c",
        "group": "30cd2e22d89af003",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ESTADO TIMER",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 340,
        "wires": []
    },
    {
        "id": "0930028c10f7b1ca",
        "type": "function",
        "z": "fcc1f78a28808d1c",
        "name": "function 1",
        "func": "if (global.get('timerActivo') == true) {\n    var newMsg = { payload: 'ENCENDIDO' };\n    return newMsg;\n}\nelse {\n    var newMsg = { payload: 'APAGADO' };\n    return newMsg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 340,
        "wires": [
            [
                "29e02086d94f985a"
            ]
        ]
    },
    {
        "id": "82af5ef71282b2e8",
        "type": "function",
        "z": "fcc1f78a28808d1c",
        "name": "function 2",
        "func": "if (msg.payload == 1) {\n    var newMsg = { payload: 'ENCENDIDO' };\n    return newMsg;\n}\nelse {\n    var newMsg = { payload: 'APAGADO' };\n    return newMsg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 220,
        "wires": [
            [
                "87003c126b412223"
            ]
        ]
    },
    {
        "id": "f4a9363a67de9c7e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "a19dtnoi0vf30n-ats.iot.us-west-2.amazonaws.com",
        "port": "8883",
        "tls": "dfb848ebd1b96581",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "165990445152d38c",
        "type": "ui_group",
        "name": "ILUMINACON JARDIN",
        "tab": "b8886f3a0b09ebdd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30cd2e22d89af003",
        "type": "ui_group",
        "name": "ESTADOS",
        "tab": "b8886f3a0b09ebdd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfb848ebd1b96581",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "A17-ObjectA.cert.pem",
        "keyname": "A17-ObjectA.private.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "b8886f3a0b09ebdd",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]